*

!/*.js
!/*.ts
!/*.tsx
!/*.json
!/.prettierrc

!/src/
!/src/*/
!/src/**/*/
!/src/*.ts
!/src/*.tsx
!/src/**/*.ts
!/src/**/*.tsx

!/hooks/
!/hooks/*/
!/hooks/**/*/
!/hooks/*.ts
!/hooks/*.tsx
!/hooks/**/*.ts
!/hooks/**/*.tsx

